<template>
  <div class="container-fluid">
    <div class="container text-center" style="padding: 1rem;">
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" click.delegate="addTask(task)">
        <i class="bi bi-file-earmark-plus-fill"></i> Agregar
      </button>

    </div>
    <table class="table table-striped table-hover table-bordered table-responsive text-center align-middle w-100">
      <thead>
        <tr>
          <th scope="col">N° TAREA</th>
          <th scope="col">TÍTULO</th>
          <th scope="col">DESCRIPCIÓN</th>
          <th scope="col">VENCIMIENTO</th>
          <th scope="col">ESTADO</th>
          <th scope="col">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="task of listTasks">
          <th scope="row">${task.id}</th>
          <td>${task.title}</td>
          <td>${task.description}</td>
          <td>${formatDate(task.dueDate)}</td>
          <td><span class="badge ${statusTaskTag(task.status)}">${task.status}</span></td>
          <td>
            <div class="d-flex flex-row justify-content-center gap-4">
              <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"
                click.delegate="editTask(task)">
                <i class="bi bi-pencil-square"></i>
                Editar
              </button>
              <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                click.delegate="prepareDelete(task)">
                <i class="bi bi-trash"></i>
                Eliminar</button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">${EditModal === true ? 'Editar Tarea' : 'Agregar Tarea'}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="container container-form" action="">
            <div class="row">
              <div class="col-12">
                <label for="">N° TAREA</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                  value.bind="selectEdit.id">
              </div>
              <div class="col-12">
                <label for="">TÍTULO</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                  value.bind="selectEdit.title">
              </div>
              <div class="col-12">
                <label for="">DESCRIPCIÓN</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  value.bind="selectEdit.description"></textarea>
              </div>
              <div class="col-12">
                <label for="">VENCIMIENTO</label>
                <div class="input-group" ref="datepickerRef">
                  <input type="date" class="form-control" id="dueDate"
                  value.bind="selectEdit.dueDate ? (typeof selectEdit.dueDate === 'string' ? selectEdit.dueDate : selectEdit.dueDate.toISOString().split('T')[0]) : ''">
                
                </div>
              </div>
              <div class="col-12">
                <label for="">ESTADO</label>
                <div class="input-group">
                  <select class="form-select" aria-label="Default select example" value.bind="selectEdit.status">
                    <option value="">Seleccione un estado</option>
                    <option value="PENDIENTE">PENDIENTE</option>
                    <option value="EN PROGRESO">EN PROGRESO</option>
                    <option value="COMPLETADO">COMPLETADO</option>
                  </select>
                  <span if.bind="selectEdit.status" class="input-group-text p-0 px-2">
                    <span class="badge ${statusTaskTag(selectEdit.status)}">${selectEdit.status}</span>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de confirmación -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Está seguro de que desea eliminar la tarea <strong>${selectDetele.title}</strong> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
            click.delegate="deleteTask()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <style>
    .container-form {
      /*border: 1px solid red;*/
    }

    .container-form .col-12 {
      border: 1px solid whitesmoke;
      margin-bottom: 10px;
      padding: 10px;
    }

    .container-form .col-12 label {
      margin-bottom: 10px;
    }
  </style>
</template>